<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>

    {% include 'allJsImport.html' %}

</head>
<body>

<input type="text" placeholder="Game name" id="gameId" name="gameId">

<input type="text" placeholder="Pseudo" id="pseudoId" name="pseudoId">
<input type="hidden" name="sid" value="-1" id="sid">


<button id="valid"> Valider </button>



<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
        socket.emit( 'connected', {
            data: 'User Connected'
        })
        var id = socket.io.engine.id
        $("#sid").val(id)

        var form = $( '#valid' ).click( function( e ) {



            let user_name = $( '#pseudoId' ).val()
            let gameId = $( '#gameId' ).val()
            console.log("user name"+user_name)
            socket.emit( 'Evt_join_game', {
                pseudoId : user_name,
                gameId : gameId,
                sid : socket.io.engine.id
            })

        })



    })
    socket.on("Evt_redirect_gameid",function( evt ) {
            // var html = JSON.parse(evt)
        evt = JSON.parse(evt)
            console.log(evt)
        sessionStorage['uuid'] = evt["playerID"];

        createCookie("userID",evt["playerID"],100)


        //userID
           window.location.href = 'http://' + document.domain + ':' + location.port+evt["url"]
        }
    )

    socket.on("toto",function( evt ) {
             console.log(evt)
        }
    )


    function createCookie(cookieName,cookieValue,daysToExpire)
        {
          var date = new Date();
          date.setTime(date.getTime()+(daysToExpire*24*60*60*1000));
          document.cookie = cookieName + "=" + cookieValue + "; expires=" + date.toGMTString();
        }

</script>

</body>
</html>